.profileContainer img {
  display: block;
  margin: 20px auto;
}

.profileNav ul{
  color: white;
}

.profileContainer .signOutButton {
  width: 100px;
  height: 40px;
  display: block;
  margin: 30px auto;
}

.profileContainer .profilePostsDiv {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.profileContainer .profilePostsDiv a{
  text-decoration: none;
  color: black;
}
