.about {
  width: 80%;
  text-align: center;
  margin: auto;
}

img {
  object-fit: contain;
  height: 450px;
  width: 450px;
  margin: 0 auto 50px auto;
  overflow: hidden;
}

@media screen and (max-width:600px) {
  img {
    height: 300px;
    width: 300px;
  }
}
