.container {
  justify-content: center;
  margin-bottom: 50px;
}

.container a {
  color: black;
  text-decoration: none;
}

.container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.header {
  justify-content: center;
  padding: 40px 0;
}

li {
  list-style-type: none;
  text-decoration: none;
  display: contents;
}
