.about {
  width: 80%;
  text-align: center;
  margin: auto;
}

.add-item {
  display: flex;
  min-height: 50vh;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.app {
  width: 80%;
  text-align: center;
  margin: auto;
}

.char-length {
  text-align: right;
  margin-top: 0px;
  font-size: 20px;
  color: #C3392A;
}

.char-length span {
  margin: 10px;
}

.createContainer {
  margin-top: -20px;
}

.display-frames {
  margin: 40px 0;
}

.frameDiv {
  width: 500px;
}

.frameDiv li {
  list-style-type: none;
}

.frameSubmitButton {
  display: block;
  text-align: center;
  margin: 40px auto;
  padding: 13px 28px;
  font-size: 18px;
}

.frameImagePreview {
  margin-top: 50px;
  width: 500px;
}

.frameImageUploader {
  margin: 10px 0;
  font-size: 16px;
}

.frameMessageForm {
  margin: 10px 0;
  font-size: 20px;
}

.frameNameForm {
  margin: 80px 0 20px 0;
  font-size: 28px;
  width: 100%;
}

.header {
  text-align: center;
  font-size: 3em;
}

.logo {
  text-align: center;
  font-size: 5em;
}

.navItem {
  margin: 0 20px;
  font-size: 15px;
  text-decoration: none;
  color: black;
}

.progressBar {
  margin: 20px 0;
}

.wrapper ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

html {
  overflow-y: scroll;
}

nav {
  width: 80%;
  margin: auto;
}
nav ul {
  list-style: none;
  background-color: black;
  text-align: center;
  padding: 0;
  margin: 0;
}

nav ul li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.8em;
  line-height: 60px;
  height: 60px;
  margin: 0 40px;
}

nav li:hover {
  background-color: darkgray;
}

nav li .active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

@media screen and (min-width: 600px) {
  nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
}

nav li {
    display: inline-block;
  }


#uploader {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  margin-bottom: 10px;
}
